a, a:focus, a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.text-center{
    text-align: center !important;
}
.el-table .el-table__cell {
    text-align: center !important;
}

.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
.app-container {
    padding: 20px;
}

.demo-form-inline .el-input {
    --el-input-width: 220px;
}
.demo-form-inline .el-select {
    --el-select-width: 220px;
}
.el-row{
    margin-bottom: 10px;
    margin-top: 10px;
}